.card{
    background-color: var(--background-secondary-color);
    padding: 11px;
    width: 257px;
    height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 8px 24px rgba(36, 36, 36, 0.15);
    @include media (small){
        width: 279px;
        height: 364px;
        gap: 5px;
        padding: 8px;
    }
    @include media (medium){
        width: 380px;
        height: 425px;
        gap: 19px;
        padding: 42px 11px;
        margin: 0;
    }
    h3{
        text-align: center;
        @include media(small){
            height: 60px;
            display: flex;
            align-items: center;
        }
    }
    &__img{
        background-repeat: no-repeat;
        width: 172px;
        height: 132px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info{
        text-align: center;
        @include media(small){
        font-size: 18px;
        }
    }
}
.primary{
    background-image: url('../../../img/card/primary.svg');
}
.secondary{
    background-image: url('../../../img/card/secondary.svg');
}
.thirdary{
    background-image: url('../../../img/card/thirdary.svg');

}
