.card{
    background-color: var(--background-secondary-color);
    padding: 11px;
    width: 257px;
    height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin: auto;
    @include media (small){
        width: 307px;
        height: 364px;
        gap: 5px;
        padding: 8px;
    }
    h3{
        text-align: center;
        @include media(small){
            height: 60px;
            display: flex;
            align-items: center;
        }
    }
    &__img{
        background-repeat: no-repeat;
        width: 172px;
        height: 132px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info{
        text-align: center;
    }
}
.primary{
    background-image: url('../../../img/card/primary.svg');
}
.secondary{
    background-image: url('../../../img/card/secondary.svg');
}
.thirdary{
    background-image: url('../../../img/card/thirdary.svg');

}
