.input{
    max-width: 355px;
    min-width: 310px;
    height: 43px;
    border: 2px solid rgba(239, 145, 142, 0.25);
    border-radius: 8px;
    padding: 8px;
    @include media (small){
        width: 500px;
        height: 50px;
        max-width: none;
    }
    @include media (medium){
        width: 652px;
        height: 54px;
        max-width: none;
    }

}
.textarea{
    height: 130px;
    resize: none;
}
