.portfolio{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 23px;

        @include media(large){
           padding-top: 0;
           padding-bottom: 75px;
           align-items: center;
        }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 81px;

        @include media(medium){
            flex-direction: row;
        }

        span{
            display: block;
            filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.05));

            img{

                @include media(small){
                    width: 420px;
                    height: auto;
                }

                @include media(medium){
                    width: 280px;
                }

                @include media(large){
                    width: 370px;
                }
                @include media(largeXl){
                    width: 408px;
                }

            }
        }
    }
    &-btn{
    margin: auto;
    }
}
