.titel, .titleSmall, .titelMedium{
    font-family: openSans;
    font-weight: bold;
    text-align: center;
}
.titel,.titelMedium{
    margin-bottom: 36px;
}

.titel{
    font-size: 28px;
    @include media (medium){
        font-size: 36px;
    }
    @include media (large){
        font-size: 64px;
    }
}

.titleSmall{
    font-size: 20px;
}

.titelMedium{
    font-size: 26px;
    @include media (large){
        font-size: 36px;
    }
}



