.titel{
    font-family: openSans;
    font-weight: bold;
    font-size: 28px;
    @include media (medium){
        font-size: 36px;
    }
    @include media (largeXl){
        font-size: 64px;
        padding-left: 84px;
    }
}
.titelMedium{
    font-family: openSans;
    font-weight: bold;
    font-size: 26px;
    @include media (large){
        font-size: 36px;
    }
}
.titleSmall{
    font-family: openSans;
    font-weight: bold;
    font-size: 20px;
}
