:root{
    --background-secondary-color:#FFFFFE;
    --background-btn-color: #ff5677;
    --txt-primary-color: #5f6c78;
    --txt-secondary-color: rgba(253, 49, 89, 0.6);
    --border-color: rgba(0,0,0,0.1);
    --radius: 8px;
    scroll-behavior: smooth;
}

.paragraph{
    font-family: "Roboto";
    font-size: 18px;
    color: var(--txt-primary-color);
    @include media (medium){
        font-size: 24px;
    }
}

section{
    z-index: 1;
}
a{
    text-decoration: none;
}
