.home{
    /* background image */
    background-image: url('../../../img/home/small/Group\ 26.svg');
    background-repeat: no-repeat;
    @include media (small){

    background-image: url('../../../img/home/large/bkg.svg');
    background-position: -921px;
    }
    @include media (medium){
        background-image: url('../../../img/home/large/bkg.svg');
        background-position: -731px;
        height: 520px;
    }
    @include media (large){
        background-position: -424px;
        height: 764px;
    }
    @include media (largeXl){
        background-position: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    display: flex;
    flex-direction: column-reverse;
    gap: 26px;
    @include media(small){
        flex-direction: row;
        align-items: center;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 26px;
        text-align: center;
        align-items: center;
        @include media(small){
            height: 400px;
            width: 60%;
            align-items: center;
            background-repeat: no-repeat;
            justify-content: center;

        }
        @include media(small){
            background-image: url('../../../img/home/small/text.svg');
            height: 414px;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            background-position: -55px;
        }
        @include media(medium){
            background-image: url('../../../img/home/large/wave.svg');
            height: 540px;
            width: 700px;
            background-position: right;
        }
        @include media(largeXl){
            background-image: url('../../../img/home/large/wave.svg');
            width: 697px;
            height: 533px;
            background-position: 0;

        }
        &-titel{
            font-size: 28px;
            @include media(small){
               font-size: 36px;
            }
            @include media(medium){
                padding-left: 70px;
              }
            @include media(large){
                font-size: 64px;
             }
        }
        &-txt{
            font-size: 18px;
            @include media(small){
                font-size: 24px;
             }
             @include media(medium){
                padding-left: 70px;
              }
             @include media(largeXl){
               padding-left: 90px;
             }
        }
        }

        @include media(large){
             &-titel, &-txt{
            width: 522px;
        }
         }

    &__img{
        margin: auto;
        img{
            @include media(small){
                height: 400px;
                width: auto;
             }
             @include media(large){
                height: 601px;
                width: auto;
             }
        }
    }
    &__btn{
        margin: 0;
        @include media(medium){
            margin-left: 80px;
          }
        @include media(largeXl){
            margin-left: 90px;
          }
    }
}


.section-home{
    padding-top: 87px;
}

