.home{
    /* background image */
    background-image: url('../../../img/home/small/Group\ 26.svg');
    background-repeat: no-repeat;
    @include media (small){

    background-image: url('../../../img/home/large/bkg.svg');
    background-position: -921px;
    }
    @include media (medium){
        background-image: url('../../../img/home/large/bkg.svg');
        background-position: -731px;
    }
    @include media (large){
        background-position: -424px;
    }
    @include media (largeXl){
        background-position: 0;
    }
    display: flex;
    flex-direction: column-reverse;
    gap: 26px;
    @include media(small){
        flex-direction: row;
        align-items: center;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 26px;
        text-align: center;
        @include media(small){
            height: fit-content;
        }
        &-titel{
            font-size: 28px;
            @include media(small){
               font-size: 36px;
            }
        }
        &-txt{
            font-size: 18px;
            @include media(small){
                font-size: 24px;
             }
        }
    }
    &__img{
        margin: auto;
        img{
            @include media(small){
                height: 400px;
                width: auto;
             }
        }
    }
}

.section-home{
    padding-top: 87px;
}

