.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3{
        text-align: left;
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
         height: 263px;
        background-image: url('../../../img/info/mobile/bloob.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

