.portfolio{
    text-align: center;
    display: flex;
        flex-direction: column;
        gap: 23px;
        @include media(largeXl){
           padding-top: 0;
        }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
        @include media(medium){
            flex-direction: row;
            justify-content: space-between;
        }
        span{
            filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.05));
            display: block;
            img{
                @include media(small){
                    width: 420px;
                    height: auto;
                }
                @include media(medium){
                    width: 280px;
                    height: auto;
                }
                @include media(large){
                    width: 408px;
                    height: auto;
                }
            }
        }
    }
}
