.services{
   @include media(large){
      padding: 75px 0;
  }
   &__content{
    display: flex;
    flex-direction: column;
    gap: 73px;
    @include media (small){
      gap: 21px;
  }
  @include media (medium){
  flex-direction: row;
}

   }
}
